body {
    font-size: 16px;
    line-height: 20px;
}

.welcome {
    box-sizing: border-box;
    background-image: url(../images/banner-mobile.jpg);
    height: 100vh;
    padding-top: 30px;
    
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.header-container {
	height: calc(100vh - 30px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-logo {
	width: 269px;
}

.menu-list {
	display: none;
}

.welcome-title-container {
	margin-top: 40px;
	width: 277px;
}

.welcome-title {
	font-size: 26px;
	line-height: 36px;
}

.mtitle-group, .title-group {
    font-size: 16px;
}

.trendy-posts {
    margin-bottom: 40px;
}

.trendy-post {
    width: 100%;
    min-height: 233px;
    margin-top: 4px;
    margin-left: 0;
}

.trendy-post:first-child {
    margin-top: 0;
}

.tags-list {
    margin-top: 12px;
}

.news {
	width: 100%;
	margin-bottom: 45px;	
}

.new-post {
    border-bottom: 3px solid #eeeeee;
}

.post-img {
    width: 100%;
}

.side-bar {
    width: 100%;
	margin-bottom: 45px;
}


.goods-item {
    margin-bottom: 25px;
}

.popup-body {
	padding: 10px;
}

.popup-content {
	max-width: 333px;
	padding: 30px 25px;
}

.radio-group-text::before {
	width: 26px;
	height: 26px;
	background-size: 26px;
}

.popup-close {
	width: 28px;
	height: 28px;
	background-size: 28px;
	top: -38px;
}


@media (orientation: landscape) {
	.trendy-post {
		width: calc(50% - 2px);
	}

	.trendy-post:nth-child(even) {
		margin-left: 4px;
	}

	.trendy-post:nth-child(2) {
		margin-top: 0;
	}
}

