@font-face {
    font-family: OpenSans;
    src:
    url(../fonts/OpenSans-Regular.woff),
    url(../fonts/OpenSans-Regular.woff2),
    url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src:
    url(../fonts/OpenSans-Bold.woff),
    url(../fonts/OpenSans-Bold.woff2),
    url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    margin: 0;
}


.welcome {
    position: relative;
    color: #ffffff;
    background-color: #696969;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.welcome::before {
   content: "";
   position: absolute;
   background-color: #000000;
   opacity: 0.6;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.info-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
}

.menu {
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 35px;
}

.menu-list-option {
    text-decoration: none;
    color: #ffffff;
}

.menu-list-option:hover {
    color: #b59c5c;
}

.welcome-title-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.welcome-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}


.mtitle-group {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0f0d0e;
}

.mtitle-group::after {
    content: "";
    display: block;
    height: 3px;
    width: 67px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e1d9bd;
}

.trendy-posts {
    display: grid;
    max-width: 100%;
    grid-template: repeat(1, auto) / repeat(4, auto);
    /*grid-gap: 2px;*/
}


.trendy-post {
    position: relative;
    display: grid;
    box-sizing: border-box;
    align-items: flex-end;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #696969;
    margin-left: 4px;
    padding: 15px 20px;
}

.trend01 {
    background-image: url(../images/trend1.jpg);
}

.trend02 {
    background-image: url(../images/trend2.jpg);
}

.trend03 {
    background-image: url(../images/trend3.jpg);
}

.trend04 {
    background-image: url(../images/trend4.jpg);
}

.trendy-post:first-child {
    margin-left: 0;
}

.trendy-post::before {
    content: "";
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020202;
}

.post-preview {
    border: 3px solid rgba(181, 159, 91, 0.6);
    overflow: hidden;
}

.trendy-post-preview {
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    padding: 36px 33px;
}

.trendy-post-preview .post-title {
    margin-bottom: 0;
    color: #ffffff;
}




.trendy-post-preview .post-link {
    text-decoration: none;
    color: #ffffff;
}

.trendy-post-preview .post-link:hover {
    color: #806f41;
}

.tags-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  
}

.tags-item {
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 14px;
    color: #b59f5b;
}

.tags-item:last-child {
    margin-right: 0;
}

.tags-item-link {
    text-decoration: none;
    color: #b59f5b;
}

.tags-item-link:hover {
    color: #806f41;
}


.post-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 4px;
    /*margin-bottom: 24px;*/
    color: #ffffff; 
}

.post-link {
    text-decoration: none;
    color: #050505;
}

.trends-link:hover {
    color: #575757;
}


.news {
    min-width: 290px;
    width: 67%;
}

.new-post:nth-child(n+2) {
    margin-top: 60px;
}

.post-img {
    display: block;
}

.post-info {
    margin-top: 33px;
}

.post-name {
    margin: 0;
    font-size: 20px;
}

.title-link {
    text-transform: uppercase;
}

.title-link:hover {
    color: #575757;
}

.card-date {
    display: inline-block;
    font-size: 12px;
    margin-right: 12px;
    color: #888888;
}

.tags-list {
    margin-bottom: 4px;
}

.author {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}

.post-txt {
    color: #0f0d0e;
    margin-top: 40px;
}


.side-bar {
    width: 271px;
}

.subscribtion {
    margin-bottom: 61px;
}

.side-bar-title {
     margin:0;
}

.side-bar-part:nth-child(n+2) {
    margin-top: 25px;
}

.side-new-post {
    display: flex;
    margin-top: 21px;
}

.side-new-post:nth-child(n+2) {
    margin-top: 17px;
}

.new-sidepost-img-container {
    width: 70px;
    margin-right: 18px;
    margin-top: 7px;
}

.new-sidepost-img {
    display: block;
}

.new-sidepost-preview {
    display: block;
    margin-right: 0;
    color: #000000;
}

.card-date {
    color: #a2a2a2;
    margin-right: 0;
    padding: 0;
}

.new-sidepost-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.new-sidepost-link {
    text-decoration: none;
    color: #000000;
}

.sp-link:hover {
   color: #575757;
}



.search {
    display: flex;
    margin-top: 60px;
}

.sidebar-part {
   margin-top: 55px;
}
.search-group {
    flex-grow: 1;
}

.field-label {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.field {
    font-family: OpenSans;
    font-size: 13px;
    background-color: #f3f7f6;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 16px 17px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.field:focus {
    outline: 1px solid #b59f5b;
}

.button {
   text-transform: uppercase;
    background-color: #b59f5b;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    height: 49px;
}

.button:hover {
    background-color: #000000;
}

.search-button {
    width: 49px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}

.search-button-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}


.subscription .field {
    margin-top: 30px;
    margin-bottom: 60px;
}

.subs-group {
    flex-grow: 1;
}

.subscr-button {
    width: 100%;
}


.side-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 60;
}

.side-tag {
    list-style-type: none;
    margin-bottom: 5px;
    margin-right: 4px;
}

.side-tag-link {
    display: block;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 13px;
    border: 3px solid #eeeeee;
}

.side-tag-link:hover {
    color: #3b3b3b;
    border-color: #80724b;
}


.side-topics {
    list-style-type: none;
    padding-left: 0;
    /*margin: 60;*/
    line-height: 2.07;
}

.side-topic {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    /*padding-bottom: 11px;*/
    margin: 0;
}

.side-topic:nth-child(n+2) {
    margin-top: 13px;
}

.side-topic-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.side-topic-link:hover {
    color:#3b3b3b;
}

.side-topic-number {
    color: #b59f5b;
    vertical-align: super; 
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}


.our-goods {
    display: flex;
    flex-wrap: wrap;
}

.goods-item{
    display: flex;
    flex-direction: column;
}

.goods-img-container {
    padding-left: 23px;
    padding-right: 23px;
}

.goods-item-img {
    display: block;
    width: 100%;
}

.goods-preview {
    flex-grow: 1;
    padding: 50px 20px 25px;
    margin-top: -33px;
}

.goods-preview h3 {
    margin-top: 0;
}

.goods-txt-link {
    text-decoration: none;
    color: #b59f5b;
}

.goods-txt-link:hover {
    color: #5c4505;
}

.goods-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods-item-price {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #0f0d0e;
}

.item-old-price {
    text-decoration: line-through;
    font-size: 14px;
}

.item-new-price {
    font-size: 20px;
}

.goods-button {
    width: 141px;
}


.footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 28px;
    max-width: 1200px;

}


.sns-container {
    /*padding-bottom: 23px;*/
    height: 82px;
    margin-bottom: 61px;
    background-color: #f4f7f6;
}

.sns {
    list-style-type: none;
    padding-top: 27px;
    padding-left: 0;
    padding-right: 34px;
    margin: 0;
}

.sns-item {
    display: inline-block;
}

.sns-item:last-child {
    margin-right: 0;
}

.sns-link {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    width: 23px;
    height: 23px;
    padding-left: 30px;
}

.sns-link:hover {
    background-size: 22px;
}

.sns-link-txt {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}

.copyright-link {
    text-decoration: none;
    color: #999999;
}

.copyright-link:hover {
    font-size: 13px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .popup_hidden {
    visibility: hidden;
    overflow: hidden;
  }
  
  .popup-body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; 
    min-height: 100%;
  }
  
  .popup-content {
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
  }
  
  .form-row:nth-child(n+2) {
    margin-top: 30px;
  }
  
  .form-row:last-child {
    margin-top: 25px;
    text-align: center;
  }

  .form-group {
    display: block;
  }

  .form-hint {
    display: block;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .select {
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 15px center;  
  }

  .radio-group {
    display: inline-block;
    font-size: 15px;
  }
  
  .radio-group:nth-of-type(n+2) {
    margin-left: 15px;
  }
  
  .radio {
    position: absolute;
    height: 1px; 
    width: 1px; 
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .radio-group-text::before {
    content: "";
    display: inline-block;
     background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center  center;
    vertical-align: middle;
    margin-right: 8px;
  }

  .radio:checked ~ .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
  }

  .textbox {
    min-width: 100%;
    max-width: 100%;
    min-height: 132px;
    max-height: 132px;
  }
  
  .popup-button {
    width: 100%;
  }

  .popup-close {
    background-repeat: no-repeat;
    position: absolute;
    text-indent: -9999px;
    background: none;
    border: none;
    right: 0;
  }


  /*desktop*/

  @media (min-width: 1200px) {
        body {
        font-size: 15px;
        line-height: 22px;
        }


    .welcome {
        background-image: url(../images/banner-bg.jpg);
        padding-top: 25px;
        padding-bottom: 109px;
        }

    .info-container { 
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
       /* margin: 0 auto;*/
        /*margin-top: 90px;*/
        }

    .header-logo {
        width: 180px;
        }

    .menu-button {
        display: none;
        }

    .welcome-title-container {
        margin-top: 101px;
        width: 679px;
        }

.tagy {
    margin-bottom: 23px;
}

.bobo {
    margin-top: 47px;
}

    .welcome-title {
        font-size: 45px;
        line-height: 75px;
        }

    .mtitle-group {
        font-size: 14px;
        }



    .title-group {
        font-size: 20px;
        }

    .menu-items {
        display: none;
        }


    .trendy-posts {
        margin-bottom: 60px;
        }

    .trendy-post {
        min-height: 320px;
        }


    .page {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
        }

    .news {
        width: 780px;
        }

    .new-post {
        display: flex;
        justify-content: space-between;
        }

    .post-img-container {
        margin-right: 30px;
        width: calc(381 * 100% / 780);
        }


    .goods-item {
        width: calc((100% / 3) - 42px);
        margin-left: 63px;
        }

    .goods-item:first-child {
        margin-left: 0;
        }


    .popup-body {
        padding: 25px 15px 15px;
        }

    .popup-content {
        max-width: 392px;
        padding: 50px 30px 53px;
        }

    .radio-group-text::before {
        width: 18px;
        height: 18px;
        background-size: 18px;
        }

    .popup-close {
        width: 19px;
        height: 19px;
        background-size: 19px;
        top: -29px;
        }


}

/*tablet*/

@media (min-width: 641px) and (max-width: 1199px) {
        body {
        font-size: 17px;
        line-height: 22px;

    }


    .welcome {
        padding-top: 45px;
        padding-bottom: 123px;
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    .info-container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .header-logo {
        width: 158px;
    }

    .menu-list {
        display: none;
    }


    .menu-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
        margin-right: 20px;
      }

      .menu-items {
        width: 1.4em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
      }

      .menu-items::before {
        top: 0;
      }


      .menu-items::after,
      .menu-items::before {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
      }

      .button-item {
        width: 100%;
        height: 20%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
      }

      .menu-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
        margin-right: 20px;
      }

      .menu-items {
        width: 1.4em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
      }

      .menu-items::before {
        top: 0;
      }

      .menu-items::after,
      .menu-items::before {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
      }

      .button-item {
        width: 100%;
        height: 20%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
      }

      .menu-items:after {
        bottom: 0;
      }

    .welcome-title-container {
        margin-top: 101px;
        width: 604px;
    }

    .welcome-title {
        font-size: 40px;
        line-height: 55px;
    }

    .mtitle-group {
        font-size: 14px;
    }

    .title-group {
        font-size: 18px;
    }


    .trendy-posts {
        margin-bottom: 50px;
        grid-template: repeat(2, auto) / repeat(2, auto);
    }

    .trendy-post {
        min-height: 247px;
        margin-top: 4px;
    }

    .trendy-post:nth-child(-n + 2) {
        margin-top: 0;
    }

    .trendy-post:nth-child(2n + 3) {
        margin-left: 0;
    }

    .tags-list {
        margin-top: 12px;
    }


    .page {
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
    }

    .news {
        width: calc(100% - 270px - 35px);
    }

    .new-post {
        border-bottom: 3px solid #eeeeee;
    }

    .new-post:last-child {
        border-bottom: none;
    }

    .post-img {
        width: 100%;
    }


    .side-bar {
        margin-left: 20px;
    }


    .goods-item {
        width: calc((100% / 2) - 11px);
        margin-top: 30px;
    }

    .goods-item:nth-child(-n + 2) {
        margin-top: 0;
    }

    .goods-item:nth-child(even) {
        margin-left: 22px;
    }


    .popup-body {
        padding: 25px 15px 15px;
    }

    .popup-content {
        max-width: 392px;
        padding: 50px 30px 55px;
    }

    .radio-group-text::before {
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .popup-close {
        width: 28px;
        height: 28px;
        background-size: 28px;
        top: -38px;
    }


    @media (orientation: landscape) {
        .trendy-post {
            width: border-box;
        }
        .trend03{
            margin-left: 4px;
            margin-top: 0;
        }
    }

}

/*mobile*/

@media  (max-width: 640px) {
     body {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    .welcome {
        box-sizing: border-box;
        background-image: url(../images/banner-mobile.jpg);
        height: 636px;
        padding-top: 30px;
        
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-container {
        height: calc(50vh - 30px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-logo {
        width: 269px;
    }

    .menu-list {
        display: none;
    }

    .menu-items::before {
        top: 0;
      }

    .menu-items::after,
    .menu-items::before {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
      }

    .button-item {
        width: 100%;
        height: 20%;
        margin-top: -0.5em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
      }

      .menu-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }

      .menu-items {
        width: 1.4em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
        right: 16px;
      }

      .menu-items::before {
        top: 0;
      }

      .menu-items::after,
      .menu-items::before {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
      }

      .button-item {
        width: 100%;
        height: 20%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
      }

      .menu-items:after {
        bottom: 0;
      }

    .welcome-title-container {
        margin-top: 40px;
        width: 277px;
    }

    .welcome-title {
        font-size: 26px;
        line-height: 36px;
    }

    .mtitle-group, .title-group {
        font-size: 16px;
    }

    .trendy-posts {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .trendy-post {
        width: 100%;
        min-height: 233px;
        margin-top: 4px;
        margin-left: 0;
    }

    .trendy-post:first-child {
        margin-top: 0;
    }

    .tags-list {
        margin-top: 12px;
    }

    .news {
        width: 100%;
        margin-bottom: 45px;    
    }

    .new-post {
        border-bottom: 3px solid #eeeeee;
    }

    .post-img {
        width: 100%;
    }

    .side-bar {
        width: 100%;
        margin-bottom: 45px;
    }


    .goods-item {
        margin-bottom: 25px;
    }

    .popup-body {
        padding: 10px;
    }

    .popup-content {
        max-width: 333px;
        padding: 30px 25px;
    }

    .radio-group-text::before {
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .popup-close {
        width: 28px;
        height: 28px;
        background-size: 28px;
        top: -38px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
        .trendy-post {
           width: calc(50% - 2px);
        }

        .trendy-post:nth-child(even) {
            margin-left: 4px;
        }

        .trendy-post:nth-child(2) {
            margin-top: 0;
        }
}
